@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Pizza Express</h1>
        <p class="text-justify">
            Pizza Express was the first organization to bring up the idea of in house production of Pizza in Willington, New Zealand in 1999. Since Inception, our constant emphasis on quality consciousness and innovating with new recepies has delighted the taste buds of many customers. Our presence in Willington,New Zealand has been adding wholesome goodness to the lives of thousands since decade.
            Since its launch in 1999, we are growing as a manufacturer as well as a supplier. We are equipped with all sort of modern and high – tech machineries to ensure a high standard production. 
        
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="About">read more...</a>
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/pic1.jpg">
                        <img src="~/images/farmhouse_pizza.jpg" alt="Pic 1" style="width:100%">
                        <div class="caption">
                            <p>Farm House Pizza</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/pic2.jpg">
                        <img src="~/images/cheeseBurst.jpg" alt="Pic 2" style="width:100%">
                        <div class="caption">
                            <p>Cheese Burst Pizza</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/pic3.jpg">
                        <img src="~/images/ChickenPeri.jpg" alt="Pic 3" style="width:100%">
                        <div class="caption">
                            <p>Chicken Peri-Peri Pizza</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
